/* Global Style */
* {
    box-sizing: border-box;
}

/* Heading */
.heading {
    text-align: center;
    font-size: 2rem;
} 

/* Game Area */
#game-area {
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 80vw;
    height: 60vh;
    max-width: 800px;
}

#button-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    font-size: 2.5rem;
    border: 10px solid;
    border-radius: 10px;
}

#opponent-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.opponent-icon {
    margin-top: 50px;
    font-size: 2.5rem;
}